{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('contact_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}


{% block javascripts %}
    <script>
        $("#contact div").each(function(elem){$( this).addClass('form-group')});
        $("#contact input").each(function(elem){$( this).addClass('form-control')});
    </script>
{% endblock %}