{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-primary"/>
    <a href="{{ path('contact_index') }}" class="btn btn-default">Back to the list</a>
    {{ form_end(form) }}

{% endblock %}




{% block javascripts %}
    <script>
        $("#contact div").each(function(elem){$( this).addClass('form-group')});
        $("#contact input").each(function(elem){$( this).addClass('form-control')});
    </script>
{% endblock %}