{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ contact.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ contact.prenom }}</td>
            </tr>
            <tr>
                <th>Societe</th>
                <td>{{ contact.societe }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ contact.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ contact.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>Siteweb</th>
                <td>{{ contact.siteWeb }}</td>
            </tr>
            <tr>
                <th>Ispro</th>
                <td>{% if contact.isPro %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contact_edit', { 'id': contact.id }) }}" class="btn btn-primary">Edit</a>
    <a href="{{ path('contact_index') }}" class="btn btn-default">Back to the list</a>
    {{ form_start(delete_form) }}
    <input style="margin-top: .6em" type="submit" value="Delete" class="btn btn-primary">
    {{ form_end(delete_form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $("table").addClass('table');
    </script>
{% endblock %}